In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv('Airbnb_Open_Data.csv')

/var/folders/2z/gd1p94dj1cqgnb_qpvfykfg40000gn/T/ipykernel_19400/2116648692.py:4: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Airbnb_Open_Data.csv')

In [2]:
#DROPPING DUPLICATE ROWS
print('Before dropping duplicates:', df.shape)
df = df.drop_duplicates()
print('After dropping the duplicates:', df.shape)

Before dropping duplicates: (102599, 26)
After dropping the duplicates: (102058, 26)

In [3]:
#DROPPING COLUMNS : country, country code, license, host name, host id 
df = df.drop(['country','country code','license','host name'], axis=1)

In [4]:
#COLUMN : id

#Changing the type as category
df['id'] = df['id'].astype('category')

In [5]:
#COLUMN : Host Identity Verified

#Changing the type as category
df['host_identity_verified'] = df['host_identity_verified'].astype('category')

df['host_identity_verified'].value_counts()

host_identity_verified
unconfirmed    50944
verified       50825
Name: count, dtype: int64

In [6]:
#COLUMN : Neighbourhood Group

#Merging the misspellings: manhatan and brookln
df['neighbourhood group'] = df['neighbourhood group'].replace('manhatan','Manhattan')
df['neighbourhood group'] = df['neighbourhood group'].replace('brookln','Brooklyn')

#Changing the type as category
df['neighbourhood group'] = df['neighbourhood group'].astype('category')

In [7]:
#COLUMN : Neighbourhood

#Changing the type as category
df['neighbourhood'] = df['neighbourhood'].astype('category')

In [8]:
#COLUMNS : lat and long

#Imputting missing values with the mean lat long of their neighborhoods

#Manhattan East Village
manhattan_eastvillage = df[(df['neighbourhood group'] == 'Manhattan') & (df['neighbourhood'] == 'East Village')]
df.loc[(df['lat'].isna()) & (df['id'] == '1442624'), 'lat'] = manhattan_eastvillage['lat'].mean()
df.loc[(df['long'].isna()) & (df['id'] == '1442624'), 'long'] = manhattan_eastvillage['long'].mean()

#Manhattan West Village
manhattan_westvillage = df[(df['neighbourhood group'] == 'Manhattan') & (df['neighbourhood'] == 'West Village')]
df.loc[(df['lat'].isna()) & (df['id'] == '1450908'), 'lat'] = manhattan_westvillage['lat'].mean()
df.loc[(df['long'].isna()) & (df['id'] == '1450908'), 'long'] = manhattan_westvillage['long'].mean()

#Manhattan Flatiron District
manhattan_flatiron = df[(df['neighbourhood group'] == 'Manhattan') & (df['neighbourhood'] == 'Flatiron District')]
df.loc[(df['lat'].isna()) & (df['id'] == '1512766'), 'lat'] = manhattan_flatiron['lat'].mean()
df.loc[(df['long'].isna()) & (df['id'] == '1512766'), 'long'] = manhattan_flatiron['long'].mean()

#Manhattan Upper West Side
manhattan_upperwest = df[(df['neighbourhood group'] == 'Manhattan') & (df['neighbourhood'] == 'Upper West Side')]
df.loc[(df['lat'].isna()) & (df['id'] == '1545904'), 'lat'] = manhattan_upperwest['lat'].mean()
df.loc[(df['long'].isna()) & (df['id'] == '1545904'), 'long'] = manhattan_upperwest['long'].mean()


#Brooklyn Crown Heights
brooklyn_crown = df[(df['neighbourhood group'] == 'Brooklyn') & (df['neighbourhood'] == 'Crown Heights')]
df.loc[(df['lat'].isna()) & (df['id'] == '1431578'), 'lat'] = brooklyn_crown['lat'].mean()
df.loc[(df['long'].isna()) & (df['id'] == '1431578'), 'long'] = brooklyn_crown['long'].mean()

#Brooklyn GreenPoint
brooklyn_green = df[(df['neighbourhood group'] == 'Brooklyn') & (df['neighbourhood'] == 'Greenpoint')]
df.loc[(df['lat'].isna()) & (df['id'] == '1434892'), 'lat'] = brooklyn_green['lat'].mean()
df.loc[(df['long'].isna()) & (df['id'] == '1434892'), 'long'] = brooklyn_green['long'].mean()
df.loc[(df['lat'].isna()) & (df['id'] == '1490122'), 'lat'] = brooklyn_green['lat'].mean()
df.loc[(df['long'].isna()) & (df['id'] == '1490122'), 'long'] = brooklyn_green['long'].mean()

#Queens Elmhurst
queens_elm = df[(df['neighbourhood group'] == 'Queens') & (df['neighbourhood'] == 'Elmhurst')]
df.loc[(df['lat'].isna()) & (df['id'] == '1434892'), 'lat'] = queens_elm['lat'].mean()
df.loc[(df['long'].isna()) & (df['id'] == '1434892'), 'long'] = queens_elm['long'].mean()

In [9]:
#COLUMN : Instant Bookable

#Changing the type as category
df['instant_bookable'] = df['instant_bookable'].astype('category')

#Mapping the true,false
TF_dict = {True: '1', False: '0'}
df['instant_bookable'] = df['instant_bookable'].map(TF_dict)

In [10]:
#COLUMN : Cancellation Policy

#Changing the type as category
df['cancellation_policy'] = df['cancellation_policy'].astype('category')

In [11]:
#COLUMN : Cancellation Policy

#Changing the type as category
df['cancellation_policy'] = df['cancellation_policy'].astype('category')

In [12]:
#COLUMN : Room Type

#Changing the type as category
df['room type'] = df['room type'].astype('category')

In [13]:
#COLUMN : Construction year -> New Column Created: Building Age

#Changing the type as category
df['Construction year'] = df['Construction year'].astype('category')

In [14]:
#COLUMN : Building_Age

#Sourcing the column from Construction Year
df['Building_Age'] = df['Construction year']

#Mapping the true,false
Year_dict = {2022: 1, 2021: 2,2020: 3,2019: 4,2018: 5,2017: 6,2016: 7,2015: 8,2014: 9,2013: 10,2012: 11,2011: 12,2010: 13,2009: 14,2008: 15,2007: 16,2006: 17,2005: 18, 2004: 19,2003: 20}
df['Building_Age'] = df['Building_Age'].map(Year_dict)

In [15]:
#COLUMN : Price

#Removing the non-numeric characters
df['price'] = pd.to_numeric(df['price'].replace(r'\D','',regex=True))

#Replaces the missing value with the average price
df['price'] = df['price'].fillna(df['price'].mean())

In [16]:
#COLUMN : Service Fee

#Removing the non-numeric characters
df['service fee'] = pd.to_numeric(df['price'].replace(r'\D','',regex=True))

#Replaces the missing value with the average price
df['service fee'] = df['service fee'].fillna(df['service fee'].mean())

In [17]:
#COLUMN : Minimum Nights

#Filtered minimum nights which are below 1 and more than 90 to eliminate the outliers
df = df[(df['minimum nights'] >= 1) & (df['minimum nights'] <= 90)]

In [18]:
#COLUMN : Number of Reviews

#Filled the missing values with the median of the number of reviews.
df['number of reviews'] = df['number of reviews'].fillna(df['number of reviews'].median())

In [19]:
#COLUMN : Last Review

#Changing the type as datetime
df['last review'] = pd.to_datetime(df['last review'],format= '%m/%d/%Y',errors='coerce')

In [20]:
#COLUMN : Review Rate Number

#Filled the missing values with the median value.
df['review rate number'] = df['review rate number'].fillna(df['review rate number'].median())

In [21]:
#COLUMN : Calculated Host Listings Count

#Filled the missing values with the median of the unique values
unique_host_listings = pd.Series(df['calculated host listings count'].unique())
df['calculated host listings count'] = df['calculated host listings count'].fillna(unique_host_listings.median())

In [22]:
#COLUMN : House Rules

#Changing the type as category
df['house_rules'] = df['house_rules'].astype('category')

In [23]:
#COLUMN : Reviews Per Month ?

In [24]:
#COLUMN : Availability 365 ?

In [25]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 101221 entries, 0 to 102057
Data columns (total 23 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              101221 non-null  category
 1   NAME                            100980 non-null  object
 2   host id                         101221 non-null  int64
 3   host_identity_verified          100949 non-null  category
 4   neighbourhood group             101194 non-null  category
 5   neighbourhood                   101207 non-null  category
 6   lat                             101213 non-null  float64
 7   long                            101213 non-null  float64
 8   instant_bookable                101125 non-null  category
 9   cancellation_policy             101146 non-null  category
 10  room type                       101221 non-null  category
 11  Construction year               101020 non-null  category
 12  price                           101221 non-null  float64
 13  service fee                     101221 non-null  float64
 14  minimum nights                  101221 non-null  float64
 15  number of reviews               101221 non-null  float64
 16  last review                     85614 non-null   datetime64[ns]
 17  reviews per month               85624 non-null   float64
 18  review rate number              101221 non-null  float64
 19  calculated host listings count  101221 non-null  float64
 20  availability 365                100798 non-null  float64
 21  house_rules                     49808 non-null   category
 22  Building_Age                    101020 non-null  category
dtypes: category(10), datetime64[ns](1), float64(10), int64(1), object(1)
memory usage: 17.2+ MB
None

In [26]:
df.to_csv('airbnb_version1.csv', index=False)

In [32]:
df['Construction year'].quantile([.0, 0.01, 0.25, 0.50, 0.75, 0.99, 1])

0.00    2003.0
0.01    2003.0
0.25    2007.0
0.50    2012.0
0.75    2017.0
0.99    2022.0
1.00    2022.0
Name: Construction year, dtype: category
Categories (20, float64): [2003.0, 2004.0, 2005.0, 2006.0, ..., 2019.0, 2020.0, 2021.0, 2022.0]

In [38]:
df[['number of reviews','price','review rate number','calculated host listings count']].describe()

,number of reviews,price,review rate number,calculated host listings count
count,101221.000000,101221.000000,101221.000000,101221.000000
mean,27.476502,625.469189,3.279468,8.059617
std,49.441459,331.186977,1.283043,32.296895
min,0.000000,50.000000,1.000000,1.000000
25%,1.000000,341.000000,2.000000,1.000000
50%,7.000000,625.355580,3.000000,1.000000
75%,30.000000,912.000000,4.000000,2.000000
max,1024.000000,1200.000000,5.000000,332.000000

In [39]:
df['minimum nights'].quantile([.0, 0.01, 0.25, 0.50, 0.75, 0.99, 1])

0.00     1.0
0.01     1.0
0.25     2.0
0.50     3.0
0.75     5.0
0.99    31.0
1.00    90.0
Name: minimum nights, dtype: float64