In [182]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv('Airbnb_Open_Data.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

/var/folders/g8/btdyhprd6l7_z7kmyr6qhzp80000gn/T/ipykernel_70311/1944844216.py:4: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Airbnb_Open_Data.csv')

In [183]:
#DROPPING DUPLICATE ROWS
print('Before dropping duplicates:', df.shape)
df = df.drop_duplicates()
print('After dropping the duplicates:', df.shape)

Before dropping duplicates: (102599, 26)
After dropping the duplicates: (102058, 26)

In [184]:
#DROPPING COLUMNS : country, country code, license, host name, host id 
df = df.drop(['country','country code','license','host name','host id'], axis=1)

In [185]:
#COLUMN : id

#Changing the type as category
df['id'] = df['id'].astype('category')

In [186]:
#COLUMN : Host Identity Verified

#Changing the type as category
df['host_identity_verified'] = df['host_identity_verified'].astype('category')

df['host_identity_verified'].value_counts()

host_identity_verified
unconfirmed    50944
verified       50825
Name: count, dtype: int64

In [187]:
#COLUMN : Neighbourhood Group

#Merging the misspellings: manhatan and brookln
df['neighbourhood group'] = df['neighbourhood group'].replace('manhatan','Manhattan')
df['neighbourhood group'] = df['neighbourhood group'].replace('brookln','Brooklyn')

#Changing the type as category
df['neighbourhood group'] = df['neighbourhood group'].astype('category')

In [188]:
#COLUMN : Neighbourhood

#Changing the type as category
df['neighbourhood'] = df['neighbourhood'].astype('category')

In [189]:
#COLUMNS : lat and long

#Imputting missing values with the mean lat long of their neighborhoods

#Manhattan East Village
manhattan_eastvillage = df[(df['neighbourhood group'] == 'Manhattan') & (df['neighbourhood'] == 'East Village')]
df.loc[(df['lat'].isna()) & (df['id'] == '1442624'), 'lat'] = manhattan_eastvillage['lat'].mean()
df.loc[(df['long'].isna()) & (df['id'] == '1442624'), 'long'] = manhattan_eastvillage['long'].mean()

#Manhattan West Village
manhattan_westvillage = df[(df['neighbourhood group'] == 'Manhattan') & (df['neighbourhood'] == 'West Village')]
df.loc[(df['lat'].isna()) & (df['id'] == '1450908'), 'lat'] = manhattan_westvillage['lat'].mean()
df.loc[(df['long'].isna()) & (df['id'] == '1450908'), 'long'] = manhattan_westvillage['long'].mean()

#Manhattan Flatiron District
manhattan_flatiron = df[(df['neighbourhood group'] == 'Manhattan') & (df['neighbourhood'] == 'Flatiron District')]
df.loc[(df['lat'].isna()) & (df['id'] == '1512766'), 'lat'] = manhattan_flatiron['lat'].mean()
df.loc[(df['long'].isna()) & (df['id'] == '1512766'), 'long'] = manhattan_flatiron['long'].mean()

#Manhattan Upper West Side
manhattan_upperwest = df[(df['neighbourhood group'] == 'Manhattan') & (df['neighbourhood'] == 'Upper West Side')]
df.loc[(df['lat'].isna()) & (df['id'] == '1545904'), 'lat'] = manhattan_upperwest['lat'].mean()
df.loc[(df['long'].isna()) & (df['id'] == '1545904'), 'long'] = manhattan_upperwest['long'].mean()


#Brooklyn Crown Heights
brooklyn_crown = df[(df['neighbourhood group'] == 'Brooklyn') & (df['neighbourhood'] == 'Crown Heights')]
df.loc[(df['lat'].isna()) & (df['id'] == '1431578'), 'lat'] = brooklyn_crown['lat'].mean()
df.loc[(df['long'].isna()) & (df['id'] == '1431578'), 'long'] = brooklyn_crown['long'].mean()

#Brooklyn GreenPoint
brooklyn_green = df[(df['neighbourhood group'] == 'Brooklyn') & (df['neighbourhood'] == 'Greenpoint')]
df.loc[(df['lat'].isna()) & (df['id'] == '1434892'), 'lat'] = brooklyn_green['lat'].mean()
df.loc[(df['long'].isna()) & (df['id'] == '1434892'), 'long'] = brooklyn_green['long'].mean()
df.loc[(df['lat'].isna()) & (df['id'] == '1490122'), 'lat'] = brooklyn_green['lat'].mean()
df.loc[(df['long'].isna()) & (df['id'] == '1490122'), 'long'] = brooklyn_green['long'].mean()

#Queens Elmhurst
queens_elm = df[(df['neighbourhood group'] == 'Queens') & (df['neighbourhood'] == 'Elmhurst')]
df.loc[(df['lat'].isna()) & (df['id'] == '1434892'), 'lat'] = queens_elm['lat'].mean()
df.loc[(df['long'].isna()) & (df['id'] == '1434892'), 'long'] = queens_elm['long'].mean()

In [190]:
#COLUMN : Instant Bookable

#Changing the type as category
df['instant_bookable'] = df['instant_bookable'].astype('category')

#Mapping the true,false
TF_dict = {True: '1', False: '0'}
df['instant_bookable'] = df['instant_bookable'].map(TF_dict)

In [191]:
#COLUMN : Cancellation Policy

#Changing the type as category
df['cancellation_policy'] = df['cancellation_policy'].astype('category')

In [192]:
#COLUMN : Cancellation Policy

#Changing the type as category
df['cancellation_policy'] = df['cancellation_policy'].astype('category')

In [193]:
#COLUMN : Room Type

#Changing the type as category
df['room type'] = df['room type'].astype('category')

In [194]:
#COLUMN : Construction year -> New Column Created: Building Age

#Changing the type as category
df['Construction year'] = df['Construction year'].astype('category')

In [195]:
#COLUMN : Building_Age

#Sourcing the column from Construction Year
df['Building_Age'] = df['Construction year']

#Mapping the true,false
Year_dict = {2022: 1, 2021: 2,2020: 3,2019: 4,2018: 5,2017: 6,2016: 7,2015: 8,2014: 9,2013: 10,2012: 11,2011: 12,2010: 13,2009: 14,2008: 15,2007: 16,2006: 17,2005: 18, 2004: 19,2003: 20}
df['Building_Age'] = df['Building_Age'].map(Year_dict)

In [196]:
#COLUMN : Price

#Removing the non-numeric characters
df['price'] = pd.to_numeric(df['price'].replace(r'\D','',regex=True))

#Replaces the missing value with the average price
df['price'] = df['price'].fillna(df['price'].mean())

In [197]:
#COLUMN : Service Fee

#Removing the non-numeric characters
df['service fee'] = pd.to_numeric(df['price'].replace(r'\D','',regex=True))

#Replaces the missing value with the average price
df['service fee'] = df['service fee'].fillna(df['service fee'].mean())

In [198]:
#COLUMN : Minimum Nights

#Filtered minimum nights which are below 1 and more than 90 to eliminate the outliers
df = df[(df['minimum nights'] >= 1) & (df['minimum nights'] <= 90)]

In [199]:
#COLUMN : Number of Reviews

#Filled the missing values with the median of the number of reviews.
df['number of reviews'] = df['number of reviews'].fillna(df['number of reviews'].median())

In [200]:
#COLUMN : Last Review

#Changing the type as datetime
df['last review'] = pd.to_datetime(df['last review'],format= '%m/%d/%Y',errors='coerce')

In [201]:
#COLUMN : Review Rate Number

#Filled the missing values with the median value.
df['review rate number'] = df['review rate number'].fillna(df['review rate number'].median())

In [202]:
#COLUMN : Calculated Host Listings Count

#Filled the missing values with the median of the unique values
unique_host_listings = pd.Series(df['calculated host listings count'].unique())
df['calculated host listings count'] = df['calculated host listings count'].fillna(unique_host_listings.median())

In [203]:
#COLUMN : House Rules

#Changing the type as category
df['house_rules'] = df['house_rules'].astype('string')

In [204]:
#COLUMN : Reviews Per Month ?

In [205]:
#COLUMN : Availability 365 ?

In [206]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 101221 entries, 0 to 102057
Data columns (total 22 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              101221 non-null  category
 1   NAME                            100980 non-null  object
 2   host_identity_verified          100949 non-null  category
 3   neighbourhood group             101194 non-null  category
 4   neighbourhood                   101207 non-null  category
 5   lat                             101213 non-null  float64
 6   long                            101213 non-null  float64
 7   instant_bookable                101125 non-null  category
 8   cancellation_policy             101146 non-null  category
 9   room type                       101221 non-null  category
 10  Construction year               101020 non-null  category
 11  price                           101221 non-null  float64
 12  service fee                     101221 non-null  float64
 13  minimum nights                  101221 non-null  float64
 14  number of reviews               101221 non-null  float64
 15  last review                     85614 non-null   datetime64[ns]
 16  reviews per month               85624 non-null   float64
 17  review rate number              101221 non-null  float64
 18  calculated host listings count  101221 non-null  float64
 19  availability 365                100798 non-null  float64
 20  house_rules                     49808 non-null   string
 21  Building_Age                    101020 non-null  category
dtypes: category(9), datetime64[ns](1), float64(10), object(1), string(1)
memory usage: 16.9+ MB
None

In [207]:
x = df[(df['Building_Age'].astype(float)<= 10) & (df['last review'].dt.year >= 2004) & (df['minimum nights'] <= 15)]

x['NAME'] = x['NAME'].astype(str)

x['neighbourhood'] = x['neighbourhood'].astype(str)

x['neighbourhood group'] = x['neighbourhood group'].astype(str)

x.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36858 entries, 0 to 102050
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              36858 non-null  category
 1   NAME                            36858 non-null  object
 2   host_identity_verified          36767 non-null  category
 3   neighbourhood group             36858 non-null  object
 4   neighbourhood                   36858 non-null  object
 5   lat                             36855 non-null  float64
 6   long                            36855 non-null  float64
 7   instant_bookable                36822 non-null  category
 8   cancellation_policy             36829 non-null  category
 9   room type                       36858 non-null  category
 10  Construction year               36858 non-null  category
 11  price                           36858 non-null  float64
 12  service fee                     36858 non-null  float64
 13  minimum nights                  36858 non-null  float64
 14  number of reviews               36858 non-null  float64
 15  last review                     36858 non-null  datetime64[ns]
 16  reviews per month               36856 non-null  float64
 17  review rate number              36858 non-null  float64
 18  calculated host listings count  36858 non-null  float64
 19  availability 365                36785 non-null  float64
 20  house_rules                     18445 non-null  string
 21  Building_Age                    36858 non-null  category
dtypes: category(7), datetime64[ns](1), float64(10), object(3), string(1)
memory usage: 9.7+ MB

/var/folders/g8/btdyhprd6l7_z7kmyr6qhzp80000gn/T/ipykernel_70311/4017813883.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['NAME'] = x['NAME'].astype(str)
/var/folders/g8/btdyhprd6l7_z7kmyr6qhzp80000gn/T/ipykernel_70311/4017813883.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['neighbourhood'] = x['neighbourhood'].astype(str)
/var/folders/g8/btdyhprd6l7_z7kmyr6qhzp80000gn/T/ipykernel_70311/4017813883.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['neighbourhood group'] = x['neighbourhood group'].astype(str)

In [227]:
#duplicates_with_different_room_types = y.groupby(['lat', 'long']).filter(lambda group: group['room type'].nunique() > 1)

duplicates_with_different_room_types = df.groupby(['lat', 'long']).filter(lambda group: len(group) > 1)

sorted_duplicates = duplicates_with_different_room_types.sort_values(['lat', 'long'])

sorted_duplicates['neighbourhood group'].count()

61473

In [209]:
#Neighbourhood Included
x['is_neighbourhood_included'] = x.apply(lambda row: row['neighbourhood'].lower() in row['NAME'].lower(), axis=1).astype(int)

print(x.groupby('neighbourhood group')['is_neighbourhood_included'].value_counts())

print(x.groupby(['neighbourhood group','is_neighbourhood_included'])['review rate number'].mean())

print(x.groupby(['is_neighbourhood_included'])['review rate number'].mean())

neighbourhood group  is_neighbourhood_included
Bronx                0                             1035
                     1                               43
Brooklyn             0                            11308
                     1                             4477
Manhattan            0                            10044
                     1                             4654
Queens               0                             4128
                     1                              818
Staten Island        0                              334
                     1                                5
nan                  0                                7
                     1                                5
Name: count, dtype: int64
neighbourhood group  is_neighbourhood_included
Bronx                0                            3.389372
                     1                            3.813953
Brooklyn             0                            3.279890
                     1                            3.245477
Manhattan            0                            3.285145
                     1                            3.206704
Queens               0                            3.330669
                     1                            3.392421
Staten Island        0                            3.461078
                     1                            2.800000
nan                  0                            3.142857
                     1                            3.800000
Name: review rate number, dtype: float64
is_neighbourhood_included
0    3.296098
1    3.241952
Name: review rate number, dtype: float64

/var/folders/g8/btdyhprd6l7_z7kmyr6qhzp80000gn/T/ipykernel_70311/1516986744.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['is_neighbourhood_included'] = x.apply(lambda row: row['neighbourhood'].lower() in row['NAME'].lower(), axis=1).astype(int)

In [210]:
#Neighbourhood Included
pd.set_option('display.max_rows', None)

new_x = x[(x['neighbourhood group']=='Manhattan')]

new_x.groupby(['neighbourhood','is_neighbourhood_included'])['review rate number'].mean()

#Battery Park City = not includes average : 2.56, includes average: 4.00, total count =27 
#Marble Hill =  general average: 2.0, not includes average : 2.00, includes average: 4.3333, total count = 13

neighbourhood        is_neighbourhood_included
Battery Park City    0                            2.560000
                     1                            4.000000
Chelsea              0                            3.276515
                     1                            3.150985
Chinatown            0                            3.071770
                     1                            3.329545
Civic Center         0                            3.200000
East Harlem          0                            3.233290
                     1                            3.403846
East Village         0                            3.178824
                     1                            3.310648
Financial District   0                            3.495392
                     1                            3.509091
Flatiron District    0                            3.440678
Gramercy             0                            3.170068
                     1                            3.309524
Greenwich Village    0                            3.245399
                     1                            3.069307
Harlem               0                            3.286123
                     1                            3.117825
Hell's Kitchen       0                            3.319596
                     1                            3.127273
Inwood               0                            3.203297
                     1                            3.039216
Kips Bay             0                            3.447964
                     1                            3.411765
Little Italy         0                            2.938776
                     1                            3.178571
Lower East Side      0                            3.301775
                     1                            3.463158
Marble Hill          0                            2.000000
                     1                            4.333333
Midtown              0                            3.398058
                     1                            3.133705
Morningside Heights  0                            3.116592
                     1                            3.000000
Murray Hill          0                            3.340000
                     1                            2.950000
NoHo                 0                            3.413793
                     1                            3.692308
Nolita               0                            3.243243
                     1                            3.106796
Roosevelt Island     0                            3.580645
                     1                            3.000000
SoHo                 0                            2.879310
                     1                            3.374359
Stuyvesant Town      0                            3.142857
Theater District     0                            3.375000
                     1                            5.000000
Tribeca              0                            3.156250
                     1                            3.233766
Two Bridges          0                            3.553191
                     1                            2.000000
Upper East Side      0                            3.235446
                     1                            3.140468
Upper West Side      0                            3.277380
                     1                            2.929134
Washington Heights   0                            3.315000
                     1                            3.152778
West Village         0                            3.337838
                     1                            3.213296
nan                  0                            3.500000
Name: review rate number, dtype: float64

In [211]:
new_x.groupby('neighbourhood')['is_neighbourhood_included'].value_counts()

neighbourhood        is_neighbourhood_included
Battery Park City    0                              25
                     1                               2
Chelsea              1                             457
                     0                             264
Chinatown            0                             209
                     1                              88
Civic Center         0                              25
East Harlem          0                             763
                     1                             104
East Village         1                             911
                     0                             425
Financial District   0                             434
                     1                              55
Flatiron District    0                              59
Gramercy             0                             147
                     1                              84
Greenwich Village    0                             163
                     1                             101
Harlem               0                            1398
                     1                             662
Hell's Kitchen       0                            1189
                     1                             110
Inwood               0                             182
                     1                              51
Kips Bay             0                             221
                     1                              17
Little Italy         0                              49
                     1                              28
Lower East Side      0                             507
                     1                             190
Marble Hill          1                               9
                     0                               4
Midtown              0                             618
                     1                             359
Morningside Heights  0                             223
                     1                              10
Murray Hill          0                             150
                     1                              20
NoHo                 0                              29
                     1                              13
Nolita               0                             111
                     1                             103
Roosevelt Island     0                              31
                     1                              16
SoHo                 1                             195
                     0                              58
Stuyvesant Town      0                              21
Theater District     0                             160
                     1                               2
Tribeca              1                              77
                     0                              32
Two Bridges          0                              47
                     1                               4
Upper East Side      0                             773
                     1                             299
Upper West Side      0                             977
                     1                             254
Washington Heights   0                             600
                     1                              72
West Village         1                             361
                     0                             148
nan                  0                               2
Name: count, dtype: int64

In [212]:
y = df[(df['Building_Age'].astype(float)<= 10) & (df['last review'].dt.year >= 2020) & (df['minimum nights'] <= 15)]

y['NAME'] = y['NAME'].astype(str)

y['neighbourhood'] = y['neighbourhood'].astype(str)

y['neighbourhood group'] = y['neighbourhood group'].astype(str)

#Neighbourhood Included
y['is_neighbourhood_included'] = y.apply(lambda row: row['neighbourhood'].lower() in row['NAME'].lower(), axis=1).astype(int)


print(y['is_neighbourhood_included'].value_counts())

print(y.groupby('neighbourhood group')['is_neighbourhood_included'].value_counts())

print(y.groupby(['neighbourhood group','is_neighbourhood_included'])['review rate number'].mean())

print(y.info())

is_neighbourhood_included
0    5307
1    1216
Name: count, dtype: int64
neighbourhood group  is_neighbourhood_included
Bronx                0                             338
                     1                              12
Brooklyn             0                            2074
                     1                             570
Manhattan            0                            1695
                     1                             462
Queens               0                            1098
                     1                             170
Staten Island        0                             102
                     1                               2
Name: count, dtype: int64
neighbourhood group  is_neighbourhood_included
Bronx                0                            3.479290
                     1                            3.583333
Brooklyn             0                            3.522179
                     1                            3.521053
Manhattan            0                            3.515044
                     1                            3.404762
Queens               0                            3.493625
                     1                            3.576471
Staten Island        0                            3.480392
                     1                            2.500000
Name: review rate number, dtype: float64
<class 'pandas.core.frame.DataFrame'>
Index: 6523 entries, 0 to 69309
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              6523 non-null   category
 1   NAME                            6523 non-null   object
 2   host_identity_verified          6510 non-null   category
 3   neighbourhood group             6523 non-null   object
 4   neighbourhood                   6523 non-null   object
 5   lat                             6523 non-null   float64
 6   long                            6523 non-null   float64
 7   instant_bookable                6518 non-null   category
 8   cancellation_policy             6519 non-null   category
 9   room type                       6523 non-null   category
 10  Construction year               6523 non-null   category
 11  price                           6523 non-null   float64
 12  service fee                     6523 non-null   float64
 13  minimum nights                  6523 non-null   float64
 14  number of reviews               6523 non-null   float64
 15  last review                     6523 non-null   datetime64[ns]
 16  reviews per month               6523 non-null   float64
 17  review rate number              6523 non-null   float64
 18  calculated host listings count  6523 non-null   float64
 19  availability 365                6510 non-null   float64
 20  house_rules                     6 non-null      string
 21  Building_Age                    6523 non-null   category
 22  is_neighbourhood_included       6523 non-null   int64
dtypes: category(7), datetime64[ns](1), float64(10), int64(1), object(3), string(1)
memory usage: 5.7+ MB
None

/var/folders/g8/btdyhprd6l7_z7kmyr6qhzp80000gn/T/ipykernel_70311/159635600.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y['NAME'] = y['NAME'].astype(str)
/var/folders/g8/btdyhprd6l7_z7kmyr6qhzp80000gn/T/ipykernel_70311/159635600.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y['neighbourhood'] = y['neighbourhood'].astype(str)
/var/folders/g8/btdyhprd6l7_z7kmyr6qhzp80000gn/T/ipykernel_70311/159635600.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y['neighbourhood group'] = y['neighbourhood group'].astype(str)
/var/folders/g8/btdyhprd6l7_z7kmyr6qhzp80000gn/T/ipykernel_70311/159635600.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y['is_neighbourhood_included'] = y.apply(lambda row: row['neighbourhood'].lower() in row['NAME'].lower(), axis=1).astype(int)

In [213]:
new_y = y[(y['neighbourhood group']=='Manhattan')]

new_y.groupby(['neighbourhood','is_neighbourhood_included'])['review rate number'].mean()


#Harlem: not includes : 3.55 average, includes 3.08 average, total sample size: 293 (221/72)

#Midtown: not includes: 3.49 average, includes 3.68 average, total sample size: 246 (184/62)

#

neighbourhood        is_neighbourhood_included
Battery Park City    0                            2.500000
Chelsea              0                            3.676056
                     1                            3.485714
Chinatown            0                            3.840000
                     1                            3.428571
Civic Center         0                            3.500000
East Harlem          0                            3.554455
                     1                            3.333333
East Village         0                            3.500000
                     1                            3.388060
Financial District   0                            3.571429
                     1                            3.750000
Flatiron District    0                            3.222222
Gramercy             0                            3.176471
                     1                            2.600000
Greenwich Village    0                            3.588235
                     1                            4.333333
Harlem               0                            3.552036
                     1                            3.084507
Hell's Kitchen       0                            3.552995
                     1                            3.222222
Inwood               0                            3.655172
                     1                            3.000000
Kips Bay             0                            3.629630
Little Italy         0                            3.352941
                     1                            3.000000
Lower East Side      0                            3.395522
                     1                            3.526316
Marble Hill          0                            2.000000
Midtown              0                            3.489130
                     1                            3.677419
Morningside Heights  0                            3.388889
Murray Hill          0                            3.533333
                     1                            2.000000
NoHo                 0                            2.333333
                     1                            4.000000
Nolita               0                            3.600000
                     1                            3.636364
Roosevelt Island     0                            2.600000
                     1                            3.000000
SoHo                 0                            3.777778
                     1                            3.791667
Stuyvesant Town      0                            3.500000
Theater District     0                            3.280702
Tribeca              0                            3.857143
                     1                            3.100000
Two Bridges          0                            3.200000
                     1                            2.000000
Upper East Side      0                            3.406593
                     1                            3.400000
Upper West Side      0                            3.484615
                     1                            3.777778
Washington Heights   0                            3.618421
                     1                            3.500000
West Village         0                            3.894737
                     1                            3.222222
Name: review rate number, dtype: float64

In [214]:
new_y.groupby('neighbourhood')['is_neighbourhood_included'].value_counts()

neighbourhood        is_neighbourhood_included
Battery Park City    0                              2
Chelsea              0                             71
                     1                             70
Chinatown            0                             25
                     1                              7
Civic Center         0                              2
East Harlem          0                            101
                     1                              6
East Village         1                             67
                     0                             50
Financial District   0                             98
                     1                              4
Flatiron District    0                              9
Gramercy             0                             17
                     1                             10
Greenwich Village    0                             17
                     1                              3
Harlem               0                            221
                     1                             71
Hell's Kitchen       0                            217
                     1                              9
Inwood               0                             29
                     1                              6
Kips Bay             0                             27
Little Italy         0                             17
                     1                              4
Lower East Side      0                            134
                     1                             19
Marble Hill          0                              2
Midtown              0                            184
                     1                             62
Morningside Heights  0                             18
Murray Hill          0                             15
                     1                              1
NoHo                 0                              3
                     1                              2
Nolita               0                             35
                     1                             11
Roosevelt Island     0                              5
                     1                              1
SoHo                 1                             24
                     0                              9
Stuyvesant Town      0                              2
Theater District     0                             57
Tribeca              1                             10
                     0                              7
Two Bridges          0                              5
                     1                              1
Upper East Side      0                             91
                     1                             25
Upper West Side      0                            130
                     1                             18
Washington Heights   0                             76
                     1                              4
West Village         1                             27
                     0                             19
Name: count, dtype: int64

In [215]:
new_y[new_y['neighbourhood']=='Battery Park City'].head()

,id,NAME,host_identity_verified,neighbourhood group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room type,...,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,Building_Age,is_neighbourhood_included
61296,34855117,One Bedroom of Waterfront Oasis in Battery Park,unconfirmed,Manhattan,Battery Park City,40.71088,-74.01706,1,flexible,Private room,...,2.0,1.0,2021-12-13,0.36,3.0,2.0,73.0,<NA>,8,0
66311,37624901,"Beautiful apt with terrace/gym, great location",unconfirmed,Manhattan,Battery Park City,40.70886,-74.01596,1,flexible,Entire home/apt,...,4.0,9.0,2020-12-13,0.22,2.0,2.0,0.0,<NA>,1,0

In [216]:
y[y['neighbourhood']=='NoHo'].count()

id                                5
NAME                              5
host_identity_verified            5
neighbourhood group               5
neighbourhood                     5
lat                               5
long                              5
instant_bookable                  4
cancellation_policy               4
room type                         5
Construction year                 5
price                             5
service fee                       5
minimum nights                    5
number of reviews                 5
last review                       5
reviews per month                 5
review rate number                5
calculated host listings count    5
availability 365                  5
house_rules                       0
Building_Age                      5
is_neighbourhood_included         5
dtype: int64

In [217]:
checking_list = ['no smoking','smoking is not allowed','no smoking allowed', 'no smoke','no inside smoking','''smoking isn't allowed''', 'no allowed smoking','smoking is not']

new_xx = new_x.copy() 

new_xx = new_xx.dropna(subset=['house_rules'])


new_xx['house_rules'] = new_xx['house_rules'].astype(str).str.lower()

new_xx['Words Maximizing the Difference'] = new_xx['house_rules'].apply(lambda x: any(item in x for item in checking_list)).astype(int)

print(new_xx.groupby(['neighbourhood','Words Maximizing the Difference'])['review rate number'].mean())

print(new_xx.groupby(['neighbourhood','Words Maximizing the Difference'])['review rate number'].value_counts())

print(new_xx['Words Maximizing the Difference'].value_counts())

print(new_xx.groupby('Words Maximizing the Difference')['review rate number'].mean())

neighbourhood        Words Maximizing the Difference
Battery Park City    0                                  2.900000
                     1                                  2.444444
Chelsea              0                                  2.988950
                     1                                  3.111732
Chinatown            0                                  3.164948
                     1                                  3.150685
Civic Center         0                                  4.100000
                     1                                  2.666667
East Harlem          0                                  3.360360
                     1                                  3.164609
East Village         0                                  3.365285
                     1                                  3.259459
Financial District   0                                  3.279570
                     1                                  3.490385
Flatiron District    0                                  3.315789
                     1                                  3.428571
Gramercy             0                                  3.578125
                     1                                  2.944444
Greenwich Village    0                                  3.291667
                     1                                  2.916667
Harlem               0                                  3.267528
                     1                                  3.100176
Hell's Kitchen       0                                  3.329268
                     1                                  3.205696
Inwood               0                                  3.095238
                     1                                  3.137500
Kips Bay             0                                  3.213115
                     1                                  3.076923
Little Italy         0                                  3.307692
                     1                                  3.294118
Lower East Side      0                                  3.288591
                     1                                  3.329609
Marble Hill          0                                  3.000000
                     1                                  5.000000
Midtown              0                                  3.333333
                     1                                  3.108527
Morningside Heights  0                                  3.488372
                     1                                  2.892857
Murray Hill          0                                  3.450000
                     1                                  3.280000
NoHo                 0                                  3.444444
                     1                                  3.777778
Nolita               0                                  3.391304
                     1                                  3.039216
Roosevelt Island     0                                  3.500000
                     1                                  3.583333
SoHo                 0                                  3.134146
                     1                                  3.400000
Stuyvesant Town      0                                  2.571429
Theater District     0                                  3.108108
                     1                                  3.575758
Tribeca              0                                  2.942857
                     1                                  3.392857
Two Bridges          0                                  3.625000
                     1                                  3.200000
Upper East Side      0                                  3.013889
                     1                                  3.189189
Upper West Side      0                                  3.118881
                     1                                  3.232295
Washington Heights   0                                  3.411429
                     1                                  3.251397
West Village         0                                  3.196970
                     1                                  3.487013
Name: review rate number, dtype: float64
neighbourhood        Words Maximizing the Difference  review rate number
Battery Park City    0                                2.0                     4
                                                      3.0                     3
                                                      4.0                     3
                     1                                1.0                     3
                                                      3.0                     3
                                                      4.0                     2
                                                      2.0                     1
Chelsea              0                                2.0                    45
                                                      3.0                    43
                                                      5.0                    34
                                                      4.0                    31
                                                      1.0                    28
                     1                                4.0                    41
                                                      5.0                    38
                                                      3.0                    37
                                                      1.0                    34
                                                      2.0                    29
Chinatown            0                                3.0                    25
                                                      2.0                    22
                                                      5.0                    21
                                                      4.0                    18
                                                      1.0                    11
                     1                                3.0                    19
                                                      5.0                    18
                                                      2.0                    14
                                                      4.0                    11
                                                      1.0                    11
Civic Center         0                                5.0                     5
                                                      4.0                     2
                                                      3.0                     2
                                                      2.0                     1
                     1                                2.0                     4
                                                      4.0                     2
East Harlem          0                                3.0                    67
                                                      5.0                    56
                                                      2.0                    55
                                                      4.0                    37
                                                      1.0                     7
                     1                                4.0                    62
                                                      3.0                    61
                                                      2.0                    50
                                                      5.0                    42
                                                      1.0                    28
East Village         0                                4.0                   100
                                                      5.0                    97
                                                      3.0                    79
                                                      2.0                    67
                                                      1.0                    43
                     1                                4.0                    93
                                                      5.0                    88
                                                      3.0                    71
                                                      2.0                    63
                                                      1.0                    55
Financial District   0                                3.0                    23
                                                      2.0                    22
                                                      5.0                    21
                                                      4.0                    20
                                                      1.0                     7
                     1                                3.0                    31
                                                      4.0                    25
                                                      5.0                    25
                                                      2.0                    22
                                                      1.0                     1
Flatiron District    0                                4.0                     7
                                                      2.0                     7
                                                      5.0                     3
                                                      3.0                     2
                     1                                2.0                     5
                                                      5.0                     5
                                                      4.0                     3
                                                      1.0                     1
Gramercy             0                                4.0                    26
                                                      5.0                    13
                                                      3.0                    13
                                                      2.0                     9
                                                      1.0                     3
                     1                                3.0                    16
                                                      2.0                    14
                                                      4.0                     9
                                                      5.0                     8
                                                      1.0                     7
Greenwich Village    0                                4.0                    24
                                                      3.0                    16
                                                      2.0                    13
                                                      5.0                    12
                                                      1.0                     7
                     1                                2.0                    22
                                                      4.0                    16
                                                      3.0                    16
                                                      1.0                     9
                                                      5.0                     9
Harlem               0                                4.0                   126
                                                      5.0                   125
                                                      2.0                   119
                                                      3.0                   116
                                                      1.0                    56
                     1                                2.0                   146
                                                      5.0                   118
                                                      3.0                   116
                                                      4.0                   115
                                                      1.0                    74
Hell's Kitchen       0                                4.0                    81
                                                      5.0                    76
                                                      3.0                    74
                                                      2.0                    69
                                                      1.0                    28
                     1                                4.0                    74
                                                      3.0                    72
                                                      5.0                    67
                                                      2.0                    63
                                                      1.0                    40
Inwood               0                                3.0                    14
                                                      5.0                     8
                                                      4.0                     8
                                                      1.0                     8
                                                      2.0                     4
                     1                                3.0                    25
                                                      4.0                    21
                                                      2.0                    14
                                                      5.0                    11
                                                      1.0                     9
Kips Bay             0                                5.0                    15
                                                      2.0                    14
                                                      3.0                    14
                                                      4.0                    11
                                                      1.0                     7
                     1                                3.0                    12
                                                      2.0                    11
                                                      4.0                    10
                                                      5.0                     4
                                                      1.0                     2
Little Italy         0                                5.0                     4
                                                      3.0                     3
                                                      4.0                     2
                                                      2.0                     2
                                                      1.0                     2
                     1                                3.0                     6
                                                      5.0                     5
                                                      2.0                     4
                                                      1.0                     1
                                                      4.0                     1
Lower East Side      0                                4.0                    39
                                                      5.0                    35
                                                      2.0                    34
                                                      3.0                    25
                                                      1.0                    16
                     1                                5.0                    47
                                                      3.0                    47
                                                      2.0                    42
                                                      4.0                    31
                                                      1.0                    12
Marble Hill          0                                4.0                     2
                                                      2.0                     2
                     1                                5.0                     2
Midtown              0                                3.0                    52
                                                      4.0                    49
                                                      5.0                    40
                                                      2.0                    37
                                                      1.0                    14
                     1                                2.0                    73
                                                      5.0                    55
                                                      3.0                    52
                                                      4.0                    49
                                                      1.0                    29
Morningside Heights  0                                5.0                    15
                                                      4.0                     9
                                                      2.0                     8
                                                      3.0                     6
                                                      1.0                     5
                     1                                2.0                    18
                                                      3.0                    18
                                                      5.0                    10
                                                      1.0                     6
                                                      4.0                     4
Murray Hill          0                                4.0                    12
                                                      5.0                     9
                                                      3.0                     9
                                                      2.0                     8
                                                      1.0                     2
                     1                                4.0                    13
                                                      3.0                    13
                                                      2.0                    13
                                                      5.0                     9
                                                      1.0                     2
NoHo                 0                                3.0                     5
                                                      5.0                     2
                                                      2.0                     1
                                                      4.0                     1
                     1                                5.0                     3
                                                      3.0                     3
                                                      4.0                     2
                                                      2.0                     1
Nolita               0                                5.0                    13
                                                      3.0                    11
                                                      2.0                     9
                                                      4.0                     9

In [222]:
new_xx.head(1)

,id,NAME,host_identity_verified,neighbourhood group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room type,...,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,Building_Age,is_neighbourhood_included,Words Maximizing the Difference
5,1004098,Large Cozy 1 BR Apartment In Midtown East,verified,Manhattan,Murray Hill,40.74767,-73.975,1,flexible,Entire home/apt,...,74.0,2019-06-22,0.59,3.0,1.0,374.0,"no smoking, please, and no drugs.",10,0,1

In [219]:
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np

# Convert the 'house_rules' column to string
x['house_rules'] = x['house_rules'].astype(str)

# Function to calculate difference in number of reviews for given keywords
def calculate_difference(keywords, df):
    df_copy = df.copy()
    df_copy['keywords_present'] = df_copy['house_rules'].apply(lambda x: all(keyword in x for keyword in keywords))
    mean_number_with_keywords = df_copy[df_copy['keywords_present']]['number of reviews'].mean()
    mean_number_without_keywords = df_copy[~df_copy['keywords_present']]['number of reviews'].mean()
    return np.abs(mean_number_with_keywords - mean_number_without_keywords), df_copy['keywords_present'].mean() * 100

# Loop through the unique neighbourhood groups
for neighbourhood_group in x['neighbourhood group'].unique():
    neighbourhood_group_df = x[x['neighbourhood group'] == neighbourhood_group].copy()
    
    total_records = len(neighbourhood_group_df) # Total number of records for the neighbourhood group

    # Variables to hold the best keywords
    best_keywords = []
    max_difference = 0
    best_count_percentage = 0

    # Using a unigram vectorizer to extract individual words
    vectorizer = CountVectorizer(ngram_range=(1, 1), stop_words='english', max_features=1000)
    vectorizer.fit_transform(neighbourhood_group_df['house_rules'].fillna(''))
    keywords = vectorizer.get_feature_names_out()

    # Iterate through the potential keywords
    for keyword in keywords:
        for i in range(len(best_keywords) + 1):
            temp_keywords = best_keywords[:i] + [keyword] + best_keywords[i:]

            # Limiting the list to a maximum of 3 keywords
            if len(temp_keywords) > 3:
                continue

            # Calculate the difference and count percentage
            difference, count_percentage = calculate_difference(temp_keywords, neighbourhood_group_df)

            if count_percentage < 25:
                continue

            if difference > max_difference:
                max_difference = difference
                best_keywords = temp_keywords
                best_count_percentage = count_percentage

    print(f"Neighbourhood Group: {neighbourhood_group}")
    print(f"Total Number of Records: {total_records}") # Printing the total number of records
    print(f"Keywords that Maximize Difference in Number of Reviews (with at least 25% count): {best_keywords}")
    print(f"Mean Difference: {max_difference}")
    print(f"Count Percentage: {best_count_percentage}")
    print("-" * 50)

/var/folders/g8/btdyhprd6l7_z7kmyr6qhzp80000gn/T/ipykernel_70311/2836216532.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['house_rules'] = x['house_rules'].astype(str)

Neighbourhood Group: Brooklyn
Total Number of Records: 15785
Keywords that Maximize Difference in Number of Reviews (with at least 25% count): ['lease']
Mean Difference: 7.371913114373669
Count Percentage: 26.63921444409249
--------------------------------------------------
Neighbourhood Group: Manhattan
Total Number of Records: 14698
Keywords that Maximize Difference in Number of Reviews (with at least 25% count): ['lease']
Mean Difference: 4.320422792196155
Count Percentage: 27.282623486188594
--------------------------------------------------
Neighbourhood Group: nan
Total Number of Records: 12
Keywords that Maximize Difference in Number of Reviews (with at least 25% count): ['30']
Mean Difference: 84.44444444444446
Count Percentage: 25.0
--------------------------------------------------
Neighbourhood Group: Queens
Total Number of Records: 4946
Keywords that Maximize Difference in Number of Reviews (with at least 25% count): ['ok']
Mean Difference: 6.647880161586343
Count Percentage: 30.832996360695514
--------------------------------------------------
Neighbourhood Group: Bronx
Total Number of Records: 1078
Keywords that Maximize Difference in Number of Reviews (with at least 25% count): ['ok']
Mean Difference: 7.543443776001919
Count Percentage: 27.92207792207792
--------------------------------------------------
Neighbourhood Group: Staten Island
Total Number of Records: 339
Keywords that Maximize Difference in Number of Reviews (with at least 25% count): ['th']
Mean Difference: 15.988487282463186
Count Percentage: 26.548672566371685
--------------------------------------------------

In [220]:
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np

# Convert the 'house_rules' column to string
x['house_rules'] = x['house_rules'].astype(str)

# Function to calculate difference in number of reviews for a given bigram
def calculate_difference(bigram, df):
    df_copy = df.copy()
    df_copy['bigram_present'] = df_copy['house_rules'].apply(lambda x: bigram in x)
    mean_number_with_bigram = df_copy[df_copy['bigram_present']]['number of reviews'].mean()
    mean_number_without_bigram = df_copy[~df_copy['bigram_present']]['number of reviews'].mean()
    return np.abs(mean_number_with_bigram - mean_number_without_bigram), df_copy['bigram_present'].mean() * 100

# Loop through the unique neighbourhood groups
for neighbourhood_group in x['neighbourhood group'].unique():
    neighbourhood_group_df = x[x['neighbourhood group'] == neighbourhood_group].copy()
    
    total_records = len(neighbourhood_group_df) # Total number of records for the neighbourhood group

    # Variables to hold the best bigram
    best_bigram = ""
    max_difference = 0
    best_count_percentage = 0

    # Using a bigram vectorizer to extract pairs of words
    vectorizer = CountVectorizer(ngram_range=(2, 2), stop_words='english', max_features=1000)
    vectorizer.fit_transform(neighbourhood_group_df['house_rules'].fillna(''))
    bigrams = vectorizer.get_feature_names_out()

    # Iterate through the potential bigrams
    for bigram in bigrams:
        difference, count_percentage = calculate_difference(bigram, neighbourhood_group_df)

        if count_percentage < 2:
            continue

        if difference > max_difference:
            max_difference = difference
            best_bigram = bigram
            best_count_percentage = count_percentage

    print(f"Neighbourhood Group: {neighbourhood_group}")
    print(f"Total Number of Records: {total_records}") # Printing the total number of records
    print(f"Bigram that Maximizes Difference in Number of Reviews (with at least 2% count): {best_bigram}")
    print(f"Mean Difference: {max_difference}")
    print(f"Count Percentage: {best_count_percentage}")
    print("-" * 50)

/var/folders/g8/btdyhprd6l7_z7kmyr6qhzp80000gn/T/ipykernel_70311/481938937.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['house_rules'] = x['house_rules'].astype(str)

Neighbourhood Group: Brooklyn
Total Number of Records: 15785
Bigram that Maximizes Difference in Number of Reviews (with at least 2% count): round tenants
Mean Difference: 8.884534219718486
Count Percentage: 2.2933164396579033
--------------------------------------------------
Neighbourhood Group: Manhattan
Total Number of Records: 14698
Bigram that Maximizes Difference in Number of Reviews (with at least 2% count): apartment occupancy
Mean Difference: 8.647911204854736
Count Percentage: 2.4901347122057422
--------------------------------------------------
Neighbourhood Group: nan
Total Number of Records: 12
Bigram that Maximizes Difference in Number of Reviews (with at least 2% count): excessive cologne
Mean Difference: 109.0909090909091
Count Percentage: 8.333333333333332
--------------------------------------------------
Neighbourhood Group: Queens
Total Number of Records: 4946
Bigram that Maximizes Difference in Number of Reviews (with at least 2% count): loud music
Mean Difference: 8.50961789822238
Count Percentage: 2.3048928427011726
--------------------------------------------------
Neighbourhood Group: Bronx
Total Number of Records: 1078
Bigram that Maximizes Difference in Number of Reviews (with at least 2% count): smoking inside
Mean Difference: 14.542613636363633
Count Percentage: 2.0408163265306123
--------------------------------------------------
Neighbourhood Group: Staten Island
Total Number of Records: 339
Bigram that Maximizes Difference in Number of Reviews (with at least 2% count): smoking allowed
Mean Difference: 20.287865748709116
Count Percentage: 2.0648967551622417
--------------------------------------------------

In [221]:
print(new_xx['neighbourhood'].value_counts())

neighbourhood
Harlem                 1111
East Village            756
Hell's Kitchen          644
Upper West Side         639
Upper East Side         584
East Harlem             465
Midtown                 450
Chelsea                 360
Washington Heights      354
Lower East Side         328
West Village            286
Financial District      197
Chinatown               170
SoHo                    152
Greenwich Village       144
Inwood                  122
Gramercy                118
Kips Bay                100
Morningside Heights      99
Nolita                   97
Murray Hill              90
Theater District         70
Tribeca                  63
Flatiron District        33
Little Italy             30
Roosevelt Island         26
Two Bridges              23
Battery Park City        19
NoHo                     18
Civic Center             16
Stuyvesant Town           7
Marble Hill               6
Name: count, dtype: int64